<div class="row">
    <div class="col-sm-4 mr-3">
        <img src="{{ person.socialuser.main_photo.url }}" class="img-fluid"><br><br>
        <a href="{% url 'send_message' person.socialuser.user %}" class="btn btn-primary btn-sm">Write to
            {{ person.socialuser.user.first_name }}</a><br>
    </div>
    <div class="col">
        {{ person.username }}<br>
        {{ person.get_full_name }}<br>
        {% if person.socialuser.birth_date is not None %}
            {{ person.socialuser.birth_date}}<br>
        {% else %}
        {% endif %}
        {% if person.socialuser.phone_number is not None %}
            {{ person.socialuser.phone_number }}<br>
        {% else %}
        {% endif %}
        {% if person.socialuser.hobbies is not None %}
            {{ person.socialuser.hobbies }}<br>
        {% else %}
        {% endif %}
        {% if person.socialuser.school is not None %}
            {{ person.socialuser.school }}<br>
        {% else %}
        {% endif %}
        {% if person.socialuser.university is not None %}
            {{ person.socialuser.university }}<br>
        {% else %}
        {% endif %}
    </div>
</div><br>
{% with object_list=photos %}
    <div class="row">
    {% for photo in object_list %}
    {% include 'photo/includes/photos.html' %}
    {% endfor %}
    </div>
{% endwith %}
<a href="{% url 'user_photos' person %}"> See all photo</a>