{% extends 'mainfile.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
        <a href="{% url 'albums' %}">Albums</a><br>
        </div>
        <div class="col-sm-4">
            {% include 'photo/includes/album_form.html' %}
        </div>
    </div><hr>
    <div class="row">
    {% for album in albums %}
       {% include 'photo/includes/albums.html' %}
    {% endfor %}
    </div>
        <hr>
<div class="row">
        {% for photo in object_list %}
        {% include 'photo/includes/photos.html' %}
        {% endfor %}
</div>
    <hr>
        {% include 'user_search/includes/user_photos.html' %}
    {% include 'user_search/includes/pagination.html'%}
{% endblock %}