{% extends "mainfile.html" %}


{% block content %}
    {% for socialuser in object_list %}
        <div class="card">
        <div class="card-body" >
            <div class="row">
            <div class="col-sm-3">
        <a href="{% url 'user_detail' socialuser.user %}"><img style="max-width: 100px; max-height: 100px" src="{{ socialuser.main_photo.url }}" alt="{{ socialuser.user.first_name }}'s main photo"></a>
            </div>
            <div class="col-sm-6">
        <h5 class="card-title">{{ socialuser.user.get_full_name }}</h5>
            </div>
             <div class="col-sm-3">
        <a href="{% url 'send_message' socialuser.user %}" class="btn btn-primary btn-sm">Write to {{ socialuser.user.first_name }}</a>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}


{% include 'user_search/includes/pagination.html' %}
{% endblock %}