<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>My Social Net</title>
	  {% load static %}
      {% load bootstrap4 %}
	<!-- Bootstrap CSS -->

	<link rel="stylesheet" type="text/css" href={% static "/styles/bootstrap.min.css" %}>
      <link rel="shortcut icon" type="image/png" href="{% static "favicon.ico" %}">
{#      {% load static %}#}
      <script src={% static "/js/jquery.js" %}></script>
      <script src={% static "/js/bootstrap.min.js" %}></script>
  </head>
 <body>
{#header#}
<div class="container-md">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Main page</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
{#    Here we can past links after link 'Main Page'#}
    </ul>
    <div class="form-inline my-2 my-lg-0">
        {% if user.is_authenticated %}
            <div class="nav-item"><h6 class="nav-item px-3">{{ user.get_full_name }}</h6></div>
            <div class="nav-item"><a href="{% url 'logout' %}" class="btn btn-primary btn-sm">Logout</a></div>
        {% else %}
            <div class="nav-item">
                <a class="nav-link" href="{% url 'registration' %}">Registration</a>
            </div>
            <div class="nav-item">
                <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Login</a>
            </div>
        {% endif %}
    </div>
  </div>
</nav>
<hr>
{% block breadcrumbs %}

{% endblock %}
<hr>

<div class="container">
{% if not user.is_authenticated %}
    {% block begin %}
        {% include 'includes/access_denied.html' %}
    {% endblock %}
{% else %}
    <div class="row">
        {% include 'includes/left_menu.html' %}
        <div class="col-md-9 ">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endif %}
</div>

</div>

</div>
{% include 'includes/footer.html' %}
  <!-- Комментарий -->
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src={% static "/js/jquery.js" %}></script>
    <script src={% static "/js/bootstrap.min.js" %}></script>


     </body>
</html>