
{box-sizing: border-box;}

/* Кнопка, используемая для открытия контактной формы - фиксируется в нижней части страницы */
.open-button {
  background-color: #555;
  color: white;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;

}

/* Всплывающая форма-скрыта по умолчанию */
.form-popup {

  display: none;
  bottom: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Поля ввода полной ширины */
.form-container input[type=text] {
  width: 100%;
  border: none;
  background: #f1f1f1;
}

/* Установите стиль для кнопки отправить/войти */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Добавить красный цвет фона для кнопки "Отмена" */
.form-container .cancel {
  background-color: red;
}

/* Добавить некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

